[Unit]
Description=Certbot Automatic Renewal Timer

[Timer]
OnCalendar=daily
Persistent=true
Unit=certbot-renewal.service

[Install]
WantedBy=timers.target